body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Geneva, Tahoma, sans-serif
}

#wrapper{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "stats calendar"
}

#stats{
    grid-area: "stats";
    background-color: #bbb;
}

table, tr, td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    margin: 5px 5px 5px 15px;
}

h3{
    margin-top:100px;
    margin-left: 20px;
}
#stats h2{
    margin-top: 40px;
}
#calendar{
    grid-area: "calendar";
}



h2, button{
    display: inline-block;
}

h2{
    margin-left: 20px;
}

button{
    padding: 15px;
    margin:15px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 120px;
}

#add{
    background-color: #239c41;
    color:#fff;
    position: -webkit-sticky;
    position: sticky;
    left:20px; 
    
}
#add:hover{
    background-color: #208507
}

#remove{
    background-color: rgb(192, 23, 23);
    color:#fff;
    position: -webkit-sticky;
    position: sticky;
    left:200px; 
    
}
#remove:hover{
    background-color: rgb(156, 9, 9);
}

#update{
    background-color: rgb(53, 53, 179);
    color:#fff;
    position: -webkit-sticky;
    position: sticky;
    left:400px; 
}
#update:hover{
    background-color: rgb(28, 28, 145);
}

#gridLayout{
    display: grid;
    grid-template-columns: 2fr 1fr repeat(500, 1fr);
    margin-left: 10px;
    margin-top: -8px;
    overflow-x:scroll;
    overflow-y: hidden;
}
.names{
    position: -webkit-sticky;
    position: sticky;
    left:0; 
}
.names div {
    background-color: #888;
    border: 1px solid white;
    height: 30px;
    width: 200px;
    
}
.names div p{
    text-align: center;
}

.average div{
    background: rgb(90, 76, 185);
    border: 1px solid white;
    height: 30px;
    width: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2em;
}

p{
    margin: 0;
    padding: 10px;
    text-align: left;
}

.title{
    border: 1px solid black;
    border-radius: 6px;
    background-color: azure;
    height: 20px;
    text-align: center;
}

.red{
    border: 1px solid white;
    height: 30px;
    width: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: red;
}

.red:hover{
    background-color: rgb(150, 1, 1);
    cursor: pointer;
}

.green{
    border: 1px solid white;
    height: 30px;
    width: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: green;
}
.green:hover{
    background-color: #135c01;
    cursor: pointer;
}
.name{
    text-align: center;
}
@media only screen and (min-width: 601px) and (max-width: 768px){
    header h2{
        width: 100%;
        text-align: center;
    }
    #add, #remove{
        width: 40%;
    }
    #update{
        width: 90%;
    }

    #stats{
        font-size:0.8em;
    }
}
@media only screen and (max-width: 600px){
    button{
        width: 90%;
    }
    header h2{
        width: 100%;
        text-align: center;
    }
    #stats{
        font-size:0.8em;
    }
    #wrapper{
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-areas:
        "stats calendar"
    }
}
